### 2.3 튜플은 단순한 불변 리스트가 아니다
#### 2.3.1 레코드로서의 튜플
예제 2-7 레코드로 사용된 튜플

In [1]:
lax_coordinates = (33.9425, -118.408056)
city, year, pop, chg, area = ('Tokyo', 2003, 32450, 0.66, 8014)
traveler_ids = [('USA', '31195855'), ('BRA', 'CE342567'), ('ESP', 'XDA205856')]

In [2]:
for passport in sorted(traveler_ids):
    print('%s/%s' % passport) # Tuple unpacking

BRA/CE342567
ESP/XDA205856
USA/31195855

In [3]:
for country, _ in traveler_ids: # Tuple unpacking
    print(country)

USA
BRA
ESP

#### 2.3.2 튜플 언패킹

In [7]:
latitude, longitude = lax_coordinates
latitude, longitude

(33.9425, -118.408056)

튜플 언패킹을 이용하면 임시 변수 없이 두 변수의 값을 서로 교환할 수 있다.

```b, a = a, b```

함수 호출시 인수 앞에 *를 붙여 튜플을 언패킹 할 수 있다.

In [8]:
divmod(20, 8)

(2, 4)

In [9]:
t = (20, 8)
divmod(*t)

(2, 4)

In [10]:
quotient, remainder = divmod(*t)
quotient, remainder

(2, 4)

**초과 항목을 잡기 위해 * 사용하기**

In [12]:
a, b, *rest = range(5)
a, b, rest

(0, 1, [2, 3, 4])

In [13]:
a, b, *rest = range(3)
a, b, rest

(0, 1, [2])

In [14]:
a, b, *rest = range(2)
a, b, rest

(0, 1, [])

병렬 할당의 경우 *는 단 하나의 변수에만 적용할 수 있다. 하지만 다음과 같이 어떠한 변수에도 적용할 수 있다.

In [15]:
a, *body, c, d,  = range(5)
a, body, c, d

(0, [1, 2], 3, 4)

In [16]:
*head, b, c, d = range(5)
head, b, c, d

([0, 1], 2, 3, 4)

#### 2.3.4 내포된 튜플 언패킹
예제 2-8 longitude에 접근하기 위해 내포된 튜플 언패킹하기

In [19]:
metro_areas = [
    ('Tokyo', 'JP', 36.933, (35.689722, 139.691667)),
    ('Mexico City', 'MX', 20.142, (19.433333, -99.133333)),
]

print('{:15} | {:^9} | {:^9}'.format('', 'lat.', 'long.'))
fmt = '{:15} | {:9.4f} | {:9.4f}'
for name, cc, pop, (latitude, longitude) in metro_areas:
    if longitude <= 0:
        print(fmt.format(name, latitude, longitude))

                |   lat.    |   long.
Mexico City     |   19.4333 |  -99.1333

#### 2.3.4 명명된 튜플
일반 튜플은 레코드로 사용하기에는 부족한 점이 있다. 필드에 이름을 붙이기 위해 namedtuple() 함수가 고안되었다.

collections.namedtuple() 함수는 필드명과 클래스명을 추가한 튜플의 서브클래스를 생성하는 함수로, 디버깅할 때 유용하다.

In [20]:
from collections import namedtuple
City = namedtuple('City', 'name country population coordinates')
tokyo = City('Tokyo', 'JP', 36.933, (35.689722, 139.691667))
tokyo

City(name='Tokyo', country='JP', population=36.933, coordinates=(35.689722, 139.691667))

In [21]:
tokyo.population

36.933

In [22]:
tokyo.coordinates

(35.689722, 139.691667)

In [23]:
tokyo[1]

'JP'

In [24]:
City._fields

('name', 'country', 'population', 'coordinates')

In [26]:
LatLong = namedtuple('LatLong', 'lat long')
delhi_data = ('Delhi NCR', 'IN', 21.935, LatLong(28.613889, 77.208889))
delhi = City._make(delhi_data)
delhi._asdict()

{'name': 'Delhi NCR',
 'country': 'IN',
 'population': 21.935,
 'coordinates': LatLong(lat=28.613889, long=77.208889)}

In [27]:
for key, value in delhi._asdict().items():
    print(key + ':', value)

name: Delhi NCR
country: IN
population: 21.935
coordinates: LatLong(lat=28.613889, long=77.208889)

#### 2.3.5 불변 리스트로서의 튜플
튜플은 항목 추가, 삭제, ```__reversed__()``` 메서드를 제외하고 리스트가 제공하는 메서드를 모두 지원한다.
reversed(my_tuple) 메서드는 ```__reveresed__()```를 이용하지 않는다.